<a href="https://colab.research.google.com/github/sainisachin393/CTS-Python-/blob/main/Data_Strutctures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures

1. List
2.Tuples
3. Set
4. Dictionary


# 1) List : 
* It is mutable,once it created we can do the changes in it later also.
* It is used to store multiple values in a single variable.

In [2]:
# Creating list
l=[1,2,3,"Ram",True,False,0]

# Checking the possible actions and properties of list

In [3]:

dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# i) Append()

* It is used to add the elements in the list at the last index.

In [6]:
l.append(45) # adding 45 at the last

In [7]:
l

[1, 2, 3, 'Ram', True, False, 0, 45, 45]

# ii) Clear()

* It is used to remove all the elements from the list

In [8]:
list=['Hi',2,4,5,"Python","W3 Schools"] # creating the list

In [9]:
list.clear() # removes all the values from the list

In [11]:
list

[]

# iii) Copy()
* It will make a duplicate copy of list.

In [14]:
new_list=[3,4,5,"pie","samosa"]

In [15]:
x=new_list.copy() # it will make a copy of above list in x

In [16]:
x

[3, 4, 5, 'pie', 'samosa']

# iv) Count()
* It is used to count the number of  element in the list.

In [17]:
b=[1,1,1,1,1,1,2,4,5,6,7,4,4,5,5]

In [18]:
b.count(1) # it will count the occurance of 1 in the above list.

6

In [20]:
b.count(5) # it will count the occurance of 5 in the above list

3

# v) Extend()

* It is used to add the elements of new list in the previous list but at the last.

In [33]:
c=['ml',"dl","joins",1,2,3] 
d=[1,2,3,4,5] # new list

In [34]:
c.extend(d) # it will add all the elements of list d in c at the last

In [35]:
c # updated list

['ml', 'dl', 'joins', 1, 2, 3, 1, 2, 3, 4, 5]

# vi) Index()
* It is used to find the position of element in the list.
* If there is multiple same element in the list then it will give the position of element which is present first.

In [40]:
e=['pi',3.14,"c++","DL",3,4,5,6,3,3,3]

In [41]:
e.index(3.14) # it will tell at what position 3.14 is in the list.

1

In [43]:
e.index(3) # it will gives the position of element 3.

4

# vii) Insert() 
* It is used to add the element at specified position in the list.

In [44]:
r=[1,2,3,4,"python"]

In [45]:
r.insert(1,"Hello") # It will add hello at position 1 in the list.

In [46]:
r

[1, 'Hello', 2, 3, 4, 'python']

# viii) Pop()
* It removes the element at specified position.

In [47]:
j=[1,2,'list','tuple','set']

In [49]:
j.pop(1) # It will remove the element which is present at position 1.

2

In [52]:
j.pop(2)## It will remove the element which is present at position 2.

'tuple'

In [53]:
j # it will gives the updated list after removing the elements at position 1 and 2.

[1, 'list']

# ix) Remove()
* It will always removes the first occurance of element.

In [57]:
p=[1,2,'list','tuple','set',2]

In [58]:
p.remove('list') # it will remove 'list' from above list.

In [59]:
p

[1, 2, 'tuple', 'set', 2]

In [60]:
p.remove(2) # it will remove 2 from above list

In [61]:
p  # updated list after removal of elements

[1, 'tuple', 'set', 2]

# x) Reverse()
* It is used to reverse the order of list.

In [62]:
f=[1,2,3,4,5,6]

In [63]:
f.reverse()

In [64]:
f # list after reversing

[6, 5, 4, 3, 2, 1]

# xi) Sort()
* It is used to sort the list.
* By default it will sort in ascending order.

In [65]:
g=[1.2,-1,2,-5,0,5,6,7]

In [66]:
g.sort()

In [68]:
g # updated list after sorting

[-5, -1, 0, 1.2, 2, 5, 6, 7]

# 2) Tuple
* It is immutable means once it created we can't do changes in it.

In [69]:
t=(1,2,3,4,5,6,4)

In [70]:
t.insert(1,2) # it will not run because of it imutable property.

AttributeError: ignored

#Checking the all the possible action and properties of tuple

In [71]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# i) Count()
* It will count the occurance of given element in the tuple
.

In [72]:
t.count(4) # it will count the occurance of 4 in the tuple

2

# ii) Index()
* It is used to find the position of element in the tuple.

In [74]:
t.index(3) # it will gives the position of element 3

2

# 3) Sets
* It stores multiple value in single variable.
* It is unordered and unindexed.

In [75]:
s={1,2,3,3,3,2,5}

In [76]:
s

{1, 2, 3, 5}

#Checking all the possible actions and properties of Sets.

In [77]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# i) Add()
* It is used to add element in the set

In [78]:
new={1,2,"False",False,0,"python"}

In [79]:
new.add("dictionary") # adds dictionary in the above set

In [81]:
new # it will gives the updated set after adding the element

{1, 2, False, 'False', 'dictionary', 'python'}

# ii) Clear()
* It is used to remove all the elemnts from the set

In [82]:
new2={1,2,"samosa","hi",False}

In [83]:
new2.clear() # removes all the elements from the set

In [84]:
new2 # gives updated set.

set()

# iii) Copy()
* It is used to make the duplicte copy of existing set.

In [88]:
new3={1,2,3,4,5,6,7,7}

In [89]:
new3

{1, 2, 3, 4, 5, 6, 7}

In [92]:
new4=new3.copy() # it will make a duplicate copy of new3 and assigns to new4

In [93]:
new4 # new set which is duplicate of new3

{1, 2, 3, 4, 5, 6, 7}

# iv) Difference()
* It returns the difference of two or more sets.

In [94]:
new5={1,2,3,4,"hello"}
new6={6,7,3,4,"Hello"}

In [95]:
new7=new5.difference(new6) # it will removes the elements from new5 which is present in new6

In [97]:
new7 # updated list

{1, 2, 'hello'}

# v) Difference_update()
* It is used to Remove the items which are existing in both sets.

In [8]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [9]:
x.difference_update(y) # removes that items from x which are not present in y

In [11]:
print(x) # gives the updated set

{'banana', 'cherry'}

# vi) Discard()
* It removes the specific item from the set.

In [2]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana") # removes the banana from fruits

print(fruits) # gives updated set

{'cherry', 'apple'}

# vii) Intersection()
* It returns the set that will contains the common items of two sets.

In [3]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) # gives the common element which are present in both set x and y.

print(z)

{'apple'}

# viii) Intersection_Update()
* It removes the element from first set which is not included in second set.

In [5]:
b1 = {"apple", "banana", "cherry"}
b2 = {"google", "microsoft", "apple"}

b1.intersection_update(b2) # removes the element from first set which is not included in second set.

print(b1)

{'apple'}

# ix) isdisjoint()
* Returns Returns whether two sets have a intersection or not
* It will returns True if there is common element in both set otherwise it will return False.

In [12]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y) 

print(z)

True

# x) issubset()
* Return True if all items of set x are present in set y:

In [13]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

# xi) issuperset()
* Return True if all items of set y are present in set x:

In [14]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

# xii) pop()
* It removes the element from set.

In [19]:
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'cherry', 'apple'}

# xiii) remove()
* It removes the specified element from the set.

In [20]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana") # removes "banana" from above set

print(fruits)

{'cherry', 'apple'}

# xiv) symmetric_difference()
* Returns a set with the symmetric differences of two sets

In [21]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'banana', 'microsoft', 'google'}

# xv) symmetric_difference_update()
* Remove the items that are present in both sets, AND insert the items that is not present in both sets

In [22]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'banana', 'microsoft', 'google'}

# xvi) Union()
* Return a set that contains all items from both sets, duplicates are excluded

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'banana', 'apple', 'microsoft', 'cherry', 'google'}

# xvii) Update()
* Insert the element from one set to the other set.

In [24]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'banana', 'apple', 'microsoft', 'cherry', 'google'}

# 4) Dictionary
* Dictionaries are used to store data values in key:value pairs.
* A dictionary is a collection which is ordered, changeable and do not allow duplicates.

In [25]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [26]:
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

# Checking all the properties of dictionary

In [27]:
dir(thisdict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# i) clear()
* It is used to clear all the elements from the dictionary.

In [29]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear() # removes all the element from the dictionary

print(car) # gives the empty dictionary

{}

# ii) Copy()
* Returns the copy of the specified dictionary.

In [30]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.copy() # makes a duplicate copy of above dictionary and assigns to x.

print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# iii) fromkeys()
* It returns the dictionary with specified keys and specified values.

In [31]:
x = ('key1', 'key2', 'key3') # specified keys
y = 0 # specified values

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

# iv) get()
* returns the value of the item with the specified key.

In [32]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model") # returns the value at key"model"

print(x)

Mustang

# v)  items()
* The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.

In [33]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

# vi) keys()
* It returns the keys of the dictionary.

In [34]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

# vii) pop()
* It is used to remove the element from the dictionary.

In [35]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("model") # it will remove the value present at the key "model"

print(car)

{'brand': 'Ford', 'year': 1964}

# viii) popitem()
* It is used to remove the element from dictionary that was last inserted.

In [36]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()

print(car)

{'brand': 'Ford', 'model': 'Mustang'}

# ix) setdefault()
* returns the value of the item with the specified key.
* If the key does not exist, insert the key, with the specified value

In [37]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

# x) update()
* It is used to update the value of the dictionary at specified keys.

In [38]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

# xi) values()
* It returns the value of the dictionary as list.

In [39]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])